[server]
port_rpc_admin_local
port_rpc
port_ws_admin_local
port_ws_public
port_peer
#  ssl_key = /etc/ssl/private/server.key
#  ssl_cert = /etc/ssl/certs/server.crt

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_ws_admin_local]
port = 6006
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 80
ip = 0.0.0.0
protocol = ws

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 127.0.0.1
protocol = https, http

[node_size]
small
# tiny
# small
# medium
# large
# huge

[node_bd]
type=NuDB
path=/var/lib/rippled/db/nudb
advisory_delete = 0

#  how many leders do we want to keep (history)
#  integer value that defines the number of ledgers
#  between online deletion events
online_delete=256

[ledger_history]
#  how many ledgers do we want to keep (history)
#  integer value (ledger count)
#  or (if you have lots of TB SSD storage): 'full'
256

[database_path]
/var/log/rippled/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips_fixed]
validator_1 51235
validator_2 51235
validator_3 51235

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "warning" }
#  severity (order: lots of information .. only error)
#  debug
#  info
#  warn
#  error
#  fatal

[ssl_verify]
0

[validator_token]
eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUxelpNcGlrMlJTU0FpeTJUYW1xYmkrVnd3cWdJMWJh
Q0xoR2RZMXpyWDlCbk1oQXQzVGVsYldUSkx0dGFSc0dyWjNQdCsrVCtsYm9GNlNVWlNXZVlW
NXM3QUxka1l3UkFJZ0hhY3FTTFlBR29oSTZIc05OZnBVY2l1amRRbGVCUmdsNTVQZnJ2WmZw
eE1DSUZ3Q0U0YVVrTU1tZUNwVWlXRlRlZll5cDFlZnNtV09YdUdNRlNqZ0hGeU9jQkpBeWlK
TjRxbnQ5alduTmd3Z0tNeG9BR0t4RHhSMVQzZ0orZVdVVStFUU0ydHJ0amJkR3RDQzJhN3ov
SkQxYmtncnBZb2lTdGlrRFRoKzRGNmFLb28xQ2c9PSIsInZhbGlkYXRpb25fc2VjcmV0X2tl
eSI6IjNCRkU5MTVCMDYyN0YwRTlGMTQxQkREOUQzMTIxOTVBM0ExMUM0NTY2NTc2NUM3M0NF
NDY1RkU5QUVEMEIzQ0EifQ==
