[server]
port_rpc_admin_local
port_rpc
port_ws_admin_local
port_ws_public
port_peer
#  ssl_key = /etc/ssl/private/server.key
#  ssl_cert = /etc/ssl/certs/server.crt

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_ws_admin_local]
port = 6006
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 80
ip = 0.0.0.0
protocol = ws

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 127.0.0.1
protocol = https, http

[node_size]
small
# tiny
# small
# medium
# large
# huge

[node_bd]
type=NuDB
path=/var/lib/rippled/db/nudb
advisory_delete = 0

#  how many leders do we want to keep (history)
#  integer value that defines the number of ledgers
#  between online deletion events
online_delete=256

[ledger_history]
#  how many ledgers do we want to keep (history)
#  integer value (ledger count)
#  or (if you have lots of TB SSD storage): 'full'
256

[database_path]
/var/log/rippled/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips_fixed]
validator_1 51235
validator_2 51235
validator_3 51235

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "warning" }
#  severity (order: lots of information .. only error)
#  debug
#  info
#  warn
#  error
#  fatal

[ssl_verify]
0

[validator_token]
eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUwSXFqWGpkUGhxVzM5cXZJV3prc3B1K3IwL3pKQkxS
NWR0QUxHbG1MbFpsbk1oQTBCekdsMldOc25tdVRoT3FpM21DdnI4c2ZUdng3UGdpVjZpWjJu
TmdoZE9ka2N3UlFJaEFMK014MDNBZlUrZnFBZld0TWhvbytnZHZHS0hUOGEyOG5OeUI0ZERG
VHpHQWlCRnVFSUtPTTFheHlsWFBTaWk2NktybkhQOWJhQkRzcFI0dnFhcDVzajZRWEFTUUNm
cTRwV095MkdHRVRvakh5K0laTEV5bEVuQWpnakRQMDJtbXBpQ2lHMThCWERncUduTTN3VTc5
OGNzdGF4bk9LTXZmNnkwZ3F6bHRlTUViSy9JOXdvPSIsInZhbGlkYXRpb25fc2VjcmV0X2tl
eSI6IjhERTNBNjVDNUI0MzVBQzhCMDYzQTFGOUE2RUMxNjQ5NDMwRTFDQzlDNEQxNTkxQzRC
MENBRTM1OTIzRjU3QjIifQ==
